/Planning/*.txt~
/LectureNotesWeeklyPlansEtc/6th-7th_Weeks_11-12_Graphs/GraphNotesInDanish/*.out
/LectureNotesWeeklyPlansEtc/6th-7th_Weeks_11-12_Graphs/GraphNotesInDanish/*.aux
/LectureNotesWeeklyPlansEtc/6th-7th_Weeks_11-12_Graphs/GraphNotesInDanish/*.log
/LectureNotesWeeklyPlansEtc/6th-7th_Weeks_11-12_Graphs/GraphNotesInDanish/*.tex~
/LectureNotesWeeklyPlansEtc/6th-7th_Weeks_11-12_Graphs/GraphNotesInDanish/auto
/ProblemSets/*.out
/ProblemSets/*.aux
/ProblemSets/*.log
/ProblemSets/auto
/ProblemSets/comment.cut
/ProblemSets/*.tex~
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/auto
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.toc
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.tex~
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.out
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.log
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.aux
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.nav
/LectureNotesWeeklyPlansEtc/1st_Week_06_Intro/*.snm
/Messages_Students_TAs/*.txt~
/Messages_Students_TAs/IDMA24_Messages
/LectureNotesWeeklyPlansEtc/auto
/LectureNotesWeeklyPlansEtc/*.tex~
/ProblemSets/*.txt~
/*.txt~
IDMA_Ugeseddel04.aux
IDMA_Ugeseddel04.log
IDMA_Ugeseddel05.aux
IDMA_Ugeseddel05.log
IDMA_Ugeseddel07.aux
IDMA_Ugeseddel07.log
/ExamWritten_250402/auto
*.txt~
auto
*.tex~
*.aux
*.log
/Messages_Students_TAs/IDMA25_Messages
